*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
}

.navbar{
    z-index: 999;
}
.banner .banner-content span{
    font-size: 20px;
}
.banner .banner-content button{
    width: 150px;
    height: 40px;
    background-color: white;
    color: black;
}

/* eduction */
.image2 {

    /* background-image: url(./images/img2.jpg); */
    min-height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b11 {
    background-color: black;
    min-height: 220px;
    width: 100%;
    border-radius: 20px;
    color: white;

    box-shadow: 5px 5px 5px grey;
}

.n1 {
    margin-top: 50px;
}

.f1 {
    position: relative;
    top: 25px;
}

/* project for */

.image2 {

    /* background-image: url(./images/img2.jpg); */
    min-height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b12 {
    background-color: black;
    min-height: 300px;
    max-width: 700px;
    /* width: 100%; */
    border-radius: 20px;
    color: white;

    box-shadow: 5px 5px 5px grey;
}

.n1 {
    margin-top: 50px;
}

.f1 {
    position: relative;
    top: 25px;
   
}

.me
{
padding:20px;
margin:20px auto;


}


.project1{
    background-color: rgb(28, 28, 29);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
 
}

img{
    border-radius: 1.5%;
}

.txt{

    padding: 10px;
}
.btn{
    padding: 10px;
    background-color: white;

}


  
  
  
  
  
  
  